# Variables and data types

**Rounding a number**  
`round(4.95)`  

**Converting between data types**  
`int('4')`  
`str(4)`  
`float('4.3')`  
`str(4.3)`  

**Finding type**  
`type('4')`  
`type(4)`

# Conditional statements  

**Python Arithmetic Operators**: + (also concatenates strings and lists) , - , * , / (floating point division), % (reminder of the division), \*\* (exponent), // (floor or integer division)  
**Python Comparison Operators**: == , != , > , < , >= , <=  
**Python Logical Operators**: and , or , not  
**Python Identity Operators**: is (returns true if both variables are the same object), is not (returns true if both variables are not the same object)  
**Python Membership Operators**: in , not in  


## If, elif, else sintax example:  

`if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")`

# Lists  

Python.org tutorial on [lists](https://docs.python.org/3/tutorial/introduction.html#lists) and [more on lists](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)  
Python.org Standard Library documentation for [**Sequence Types â€” list, tuple, range**](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range) (see this one!)

**Simple list**

In [1]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

**Indexing and slicing**

In [2]:
print(squares[0])
print(squares[1])
print(squares[-1])
print(squares[0:2])
print(squares[-2:])
print(squares[:])

1
4
25
[1, 4]
[16, 25]
[1, 4, 9, 16, 25]

**List append, concatenation and assignment**  
Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content:

In [3]:
squares = [1, 4, 9, 16, 25]
print(squares)

[1, 4, 9, 16, 25]

In [4]:
# Append
squares.append(36)
print(squares)

[1, 4, 9, 16, 25, 36]

In [5]:
# Concatenation of one element (in this case equivalent to append)
squares = squares + [49]
print(squares)

[1, 4, 9, 16, 25, 36, 49]

In [6]:
#Equivalent to the previous 
squares[len(squares):] = [65]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 65]

In [7]:
# Concatenation of multiple element
squares = squares + [81, 100]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 65, 81, 100]

In [8]:
#Remove last two elements
squares[-2:] = []
print(squares)

[1, 4, 9, 16, 25, 36, 49, 65]

In [9]:
#Insert the two elements again 
squares[len(squares):] = [81, 100]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 65, 81, 100]

In [10]:
#Assignment
squares[7] = 64 # 8**2 equals 64, not 65!
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**ATTENTION:** Notice that above we haven't use the brackets! Otherwise we would be introducing the list `[64]` in the list squares.

In [11]:
letters = ['a', 'b', 'c', 'd', 'e','f','g']
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [12]:
# Slice assignment
letters[2:5] = ['C', 'D', 'E']
print(letters)

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [13]:
# now remove them
letters[2:5] = []
print(letters)

['a', 'b', 'f', 'g']

In [14]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
print(letters)

[]

**The difference between a single element and a slice:**

In [15]:
letters = ['a', 'b', 'c', 'd', 'e','f','g']

print(type(letters[0]))
print(type(letters[0:1]))
print(type(letters[0:2]))

<class 'str'>
<class 'list'>
<class 'list'>

In [16]:
# Element assignment
letters[1] = 'B'
print(letters)

['a', 'B', 'c', 'd', 'e', 'f', 'g']

In [17]:
# Slice assignment
letters[2:5] = ['C', 'D', 'E']
print(letters)

['a', 'B', 'C', 'D', 'E', 'f', 'g']

In [18]:
# Element assignment
letters[5] = ['F']
print(letters)

['a', 'B', 'C', 'D', 'E', ['F'], 'g']

In [19]:
# Element assignment
letters[5] = 'F'
print(letters)

['a', 'B', 'C', 'D', 'E', 'F', 'g']

**ATTENTION:** Notice the difference between the two approaches above!

**List of lists (nest lists)**

In [20]:
squares = [1, 4, 9, 16]
letters = ['a', 'b', 'c', 'd', 'e','f','g']
x = [squares, letters]

print(x)
print(x[0])
print(x[0][1])

[[1, 4, 9, 16], ['a', 'b', 'c', 'd', 'e', 'f', 'g']]
[1, 4, 9, 16]
4

**Lists' methods and functions on lists**

In [21]:
squares = [1, 4, 9, 16]
print(len(squares)) #Number of elements in the list

4

In [22]:
print(9 in squares) #Check presence of element in the list
print(64 in squares)
print([4, 9] in squares) # Notice that squares is not a list of lists hence [4, 9] cannot be part of it!

True
False
False

In [23]:
squares.append(25) #Appends a new item with value x to the end of the array
print(squares)

[1, 4, 9, 16, 25]

In [24]:
print(squares.pop(2)) #array.pop([i]) removes the item with the index i from the array and returns it. The optional argument defaults to -1.
print(squares)

9
[1, 4, 16, 25]

In [25]:
squares.insert(2, 9) #Insert an item at a given position. The first argument is the index of the element before which to insert.
print(squares)

[1, 4, 9, 16, 25]

In [26]:
squares.remove(9) #Remove the first item from the list whose value is equal to 9
print(squares)

[1, 4, 16, 25]

In [27]:
squares.insert(2, 9)
print(squares)

[1, 4, 9, 16, 25]

In [28]:
del squares[2] #Equivalent to pop but doesn't return the value
print(squares)

[1, 4, 16, 25]

In [29]:
print(squares.count(9)) #Return the number of times 9 appears in the list
squares.append(25)
print(squares.count(25))

0
2

In [30]:
print(squares.index(25)) # Return zero-based index in the list of the first item whose value is equal to 25.

3

In [31]:
squares = [4, 1, 16, 9, 25]
squares.sort() #Sort the items of the list in place
print(squares)
squares.sort(reverse=True)
print(squares)

[1, 4, 9, 16, 25]
[25, 16, 9, 4, 1]

In [32]:
squares.clear() #Remove all items from the list. Equivalent to del squares[:].
print(squares)

[]

**Import csv file as a list of lists**

In [33]:
opened_file = open('datasets/AppleStore.csv', encoding="utf8")
print(opened_file)

from csv import reader
read_file = reader(opened_file)
print(read_file)

apps_data = list(read_file)
print(apps_data[0:3])

headers =  apps_data[0]
row1 = apps_data[1]
row2 = apps_data[2]

print(headers)
print(row1)
print(row2)

<_io.TextIOWrapper name='datasets/AppleStore.csv' mode='r' encoding='utf8'>
<_csv.reader object at 0x000002A8D5055FA0>
[['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']]
['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']
['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1']
['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']

# Dictionaries and frequency tables  
A dictionary is like a list, but more general. In a list, the indices have to be integers, in a dictionary they can be (almost) any type.  
Python.org Standard Library documentation for [dictionary type](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

**Creating a dictionary**

In [34]:
# 1st way: manually
tel1 = {'jack': 4098, 'sape': 4139, 'john': 2739}
print(tel1)

{'jack': 4098, 'sape': 4139, 'john': 2739}

In [35]:
#2nd way: create an empty dictionary and append new key-value pairs
tel2 = {}
tel2['jack'] = 4098
tel2['sape'] = 4139
tel2['john'] = 2739
print(tel2)

{'jack': 4098, 'sape': 4139, 'john': 2739}

In [36]:
# 3nd way: The dict() constructor builds dictionaries directly from sequences of key-value pairs (list of tuples)
tel3 = dict([('jack', 4098), ('sape', 4139), ('john', 2739)])
print(tel3)

{'jack': 4098, 'sape': 4139, 'john': 2739}

In [37]:
#4th way:
names = ['jack','sape','john']
points = [4098, 4139, 2739]
tel4 = zip(names, points) # zip() makes an iterator that aggregates elements from each of the iterables
print(tel4)
tel4 = list(tel4)
print(tel4)
tel4 = dict(tel4)
print(tel4)

<zip object at 0x000002A8D5862300>
[('jack', 4098), ('sape', 4139), ('john', 2739)]
{'jack': 4098, 'sape': 4139, 'john': 2739}

**Dictionary manipulation**

In [38]:
tel1['mik'] = 100
print(tel1)

tel1['mik'] += 100
print(tel1['mik'])

del tel1['mik']
print(tel1)

{'jack': 4098, 'sape': 4139, 'john': 2739, 'mik': 100}
200
{'jack': 4098, 'sape': 4139, 'john': 2739}

**Functions on dictionaries**

In [39]:
print('jack' in tel1)
print('jack' not in tel1)
print(4098 in tel1)
print(list(tel1))
print(len(tel1))

True
False
False
['jack', 'sape', 'john']
3

In [40]:
# The objects returned by dict.keys(), dict.values() and dict.items() are view objects.
# They provide a dynamic view on the dictionaryâ€™s entries.

k = tel1.keys()
print(k)
print(list(k), '\n')

dict_keys(['jack', 'sape', 'john'])
['jack', 'sape', 'john']

In [41]:
v = tel1.values()
print(v)
print(list(v), '\n')

dict_values([4098, 4139, 2739])
[4098, 4139, 2739]

In [42]:
it = tel1.items()
print(it)
print(list(it), '\n')

dict_items([('jack', 4098), ('sape', 4139), ('john', 2739)])
[('jack', 4098), ('sape', 4139), ('john', 2739)]

In [43]:
# Which means that when the dictionary changes the view reflects these changes.
tel1['mik'] = 100
print(k)
print(v, '\n')

mik = tel1.pop('mik', 0) # If key is in the dictionary, remove it and return its value, else return default. 
mat = tel1.pop('mat', 0) # If default is not given and key is not in the dictionary, a KeyError is raised.
print(mik, mat)

dict_keys(['jack', 'sape', 'john', 'mik'])
dict_values([4098, 4139, 2739, 100])

100 0

# For loops

**Frequency table using dictionary**

In [44]:
freq_tabe = {}

for row in apps_data[1:]:
    rating = float(row[7])
    if rating in freq_tabe:
        freq_tabe[rating] += 1
    else:
        freq_tabe[rating] = 1
        
print(freq_tabe)

# Loop over a dictionary
for key in freq_tabe:
    print(key, freq_tabe[key])

{3.5: 702, 4.5: 2663, 4.0: 1626, 3.0: 383, 5.0: 492, 2.5: 196, 2.0: 106, 1.5: 56, 1.0: 44, 0.0: 929}
3.5 702
4.5 2663
4.0 1626
3.0 383
5.0 492
2.5 196
2.0 106
1.5 56
1.0 44
0.0 929

**Averaging list's elements**

In [45]:
# Two approaches to the same problem: average computation using lists

rating_sum = 0
for row in apps_data[1:]:
    rating = float(row[7])
    rating_sum += rating

avg_rating1 = rating_sum/(len(apps_data[1:]))
print(avg_rating1)

3.526955675976101

In [46]:
all_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    all_ratings.append(rating)

avg_rating2 = sum(all_ratings)/len(all_ratings)
print(avg_rating2)

3.526955675976101

**For loops - Other examples**

In [47]:
tel1 = {'jack': 4098, 'sape': 4139, 'john': 2739}

for key in tel1:
    print(key, tel1[key])

jack 4098
sape 4139
john 2739

In [48]:
for key in tel1.keys():
    print(key, tel1[key])

jack 4098
sape 4139
john 2739

In [49]:
for k, v in tel1.items():
    print(k, v)

jack 4098
sape 4139
john 2739

In [50]:
print(range(8,0,-2))
for i in range(8,0,-2):
    print(i)
    i = 3 # Notice that changing i has no effect since i is updated in the beginning of the loop
    
#(except that i will be updated to 3 when the loop is finished)
print('\n')
print(i)

range(8, 0, -2)
8
6
4
2


3

In [51]:
print(list(range(8,0,-2)))
for i in range(8,0,-2):
    print(i)

[8, 6, 4, 2]
8
6
4
2

In [52]:
print(sorted(range(8,0,-2)))
for i in sorted(range(8,0,-2)):
    print(i)

[2, 4, 6, 8]
2
4
6
8